<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">

        <div class="col-sm-12 col-md">
          <ngx-timeline [events]="Events">
            <ng-template let-event let-index="rowIndex" timelineBody>
              <div class="card bg-light mb-3">
                <div class="card-header" style="text-align: center">
                  <h3>{{ event.description }}</h3>
                </div>
              </div>

              <div class="button-row">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="editNeed(event.id, eventmodal)"
                >
                  <i class="fa fa-edit"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-success"
                  (click)="viewResponses(event.id)"
                >
                  <i class="fa fa-eye"></i>
                  View Responses
                </button>

                <button
                  type="button"
                  class="btn btn-success"
                  (click)="viewDetails(event.id)"
                >
                  <i class="fa fa-eye"></i>
                  View Details
                </button>

                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteNeed(event.id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </ng-template>
          </ngx-timeline>
        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addEvent(eventmodal)"
          >
            <i class="fa fa-plus"></i> Add
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<ng-template #eventmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Event</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group full-width-input">
        <label style="font-weight: bold">Description</label>
        <input class="form-control" formControlName="description"/>
      </div>

      <div class="form-group full-width-input">
        <label style="font-weight: bold">Amount</label>
        <input class="form-control" formControlName="amount"/>
      </div>


      <div class="form-group full-width-input">
        <fieldset>
          <label for="needDelivery" style="font-weight: bold">Need Delivery:</label>
          <div>
            <input class="radio" id="true" type="radio" value="true" name="needDelivery"
                   formControlName="needDelivery">
            <label for="true">True</label>
          </div>

          <div>
            <input class="radio" id="false" type="radio" value="false" name="needDelivery"
                   formControlName="needDelivery">
            <label for="false">False</label>
          </div>
        </fieldset>
      </div>

      <hr>

      <div class="form-group full-width-input">
        <fieldset>
          <label style="font-weight: bold">Catalog</label>
          <div *ngFor="let catalog of catalogs; let i=index">
            <label>
              <input class="radio" type="radio" [value]="catalog.id" formControlName="catalog"/>
              <label>{{catalog.name}}</label>
            </label>
          </div>
        </fieldset>
      </div>

      <hr>

      <table class="table table-bordered" formArrayName="hashtags">
        <tr>
          <th colspan="2">Add hashtags:</th>
          <th width="150px">
            <button type="button" (click)="addHashTags()" class="btn btn-primary">Add More</button>
          </th>
        </tr>
        <tr *ngFor="let hashtag of hashtags().controls; let i=index" [formGroupName]="i">
          <td colspan="2">
            Hash Tag :
            <input type="text" formControlName="hashtag" class="form-control">
          </td>
          <td>
            <button (click)="removeHashTags(i)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </table>

      <div class="form-group full-width-input">
        <label style="font-weight: bold">Date</label>
        <input class="form-control" formControlName="date" bsDatepicker/>
      </div>
      <div class="button-row">
        <button type="button" class="btn btn-primary" (click)="modalCallback()">
          Submit
        </button>
        <button type="button" class="btn btn-light" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
