<div class="wrapper">
  <div class="form_wrapper" style="width: 100%">
    <div class="form_container">
      <div class="title_container">
        <h2>Add Advertising</h2>
      </div>
      <div>
        <div class="row clearfix" style="font-weight: bold;width: 50%;align-items: center;margin: auto;">
          <div style="width: 100%">
            <form [formGroup]="AdvertisingForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <div class="input_field">
                  <span>
                    <i aria-hidden="true" class="fa fa-user"></i>
                  </span>
                  <input type="text" class="form-control" style="height: 50px" formControlName="advertisingOwner"
                         [ngClass]="{ 'is-invalid': submitted && f.advertisingText.errors }"
                         placeholder="Advertising Owner"/>
                  <div *ngIf="submitted && f.advertisingOwner.errors" class="invalid-feedback" style="margin-left: 5%">
                    <div *ngIf="f.advertisingOwner.errors.required">Advertising Owner is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input_field">
                  <span>
                    <i aria-hidden="true" class="fa fa-file-text"></i>
                  </span>
                  <input type="text" class="form-control" style="height: 50px" formControlName="advertisingText"
                         [ngClass]="{ 'is-invalid': submitted && f.advertisingText.errors }"
                         placeholder="Advertising Text"/>
                  <div *ngIf="submitted && f.advertisingText.errors" class="invalid-feedback" style="margin-left: 5%">
                    <div *ngIf="f.advertisingText.errors.required">Advertising Text is required</div>
                  </div>
                </div>
              </div>
              <input class="button" type="submit" value="publish"/>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="places-buttons">
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center">
                    <div class="card-header" style="text-align: center">
                      <h2 class="card-title">Display Advertising</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="alert alert-info alert-with-icon alert-dismissible fade show row"
                             data-notify="container" *ngFor="let advertising of advertisingObject">
                          <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
                          <span class="col-sm-4" style="color: black; font-weight: bold">{{ advertising.owner }}</span>
                          <span class="col-sm-4" data-notify="message">{{ advertising.text }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
