<table class="table table-bordered" style="text-align: center">
  <thead>
  <tr style="background-color: #4dd2ff">
<!--    <th scope="col" rowspan="8">
      <p style="font-size: 150%;">Need</p>
    </th>-->
    <th scope="col" colspan="8">
      <p style="font-size: 150%">Type Of Need</p>
    </th>
  </tr>
  <tr style="background-color: #80dfff">
    <th scope="col" colspan="4">
      <p style="font-size: 125%">Transportation</p>
    </th>
    <th scope="col" colspan="4">
      <p style="font-size: 125%">Donation</p>
    </th>
  </tr>
  <tr style="background-color: #b3ecff">
    <th scope="col" colspan="2"><p>Male</p></th>
    <th scope="col" colspan="2"><p>Female</p></th>
    <th scope="col" colspan="2"><p>Male</p></th>
    <th scope="col" colspan="2"><p>Female</p></th>
  </tr>
  <tr style="background-color: #e6f9ff">
    <th scope="col"><p>completed</p></th>
    <th scope="col"><p>uncompleted</p></th>
    <th scope="col"><p>completed</p></th>
    <th scope="col"><p>uncompleted</p></th>
    <th scope="col"><p>completed</p></th>
    <th scope="col"><p>uncompleted</p></th>
    <th scope="col"><p>completed</p></th>
    <th scope="col"><p>uncompleted</p></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let need_report of need_reports">
    <!--    <td>{{ need_report.needStatusName }}</td>
        <td>{{ need_report.needStatusName == 'Need Delivery' ? need_report.genderName == 'Male' ? need_report.count : '' : '' }}</td>
        <td>{{ need_report.needStatusName == 'Need Delivery' ? need_report.genderName == 'Female' ? need_report.count : '' : '' }}</td>
        <td>{{ need_report.needStatusName == 'Need Donation' ? need_report.genderName == 'Male' ? need_report.count : '' : '' }}</td>
        <td>{{ need_report.needStatusName == 'Need Donation' ? need_report.genderName == 'Female' ? need_report.count : '' : '' }}</td>-->
<!--    <td>{{ need_report.needStatusName }}</td>-->
    <td>
      {{
      need_report.needStatusName == 'Need Delivery' ?
        need_report.needResponseStatusName == 'Accepted' ?
          need_report.genderName == 'Male' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Delivery' ?
        need_report.needResponseStatusName == 'Rejected' ?
          need_report.genderName == 'Male' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Delivery' ?
        need_report.needResponseStatusName == 'Accepted' ?
          need_report.genderName == 'Female' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Delivery' ?
        need_report.needResponseStatusName == 'Rejected' ?
          need_report.genderName == 'Female' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Donation' ?
        need_report.needResponseStatusName == 'Accepted' ?
          need_report.genderName == 'Male' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Donation' ?
        need_report.needResponseStatusName == 'Rejected' ?
          need_report.genderName == 'Male' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Donation' ?
        need_report.needResponseStatusName == 'Accepted' ?
          need_report.genderName == 'Female' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
    <td>
      {{
      need_report.needStatusName == 'Need Donation' ?
        need_report.needResponseStatusName == 'Rejected' ?
          need_report.genderName == 'Female' ?
            need_report.count : '0' : '0' : '0'
      }}
    </td>
  </tr>
  </tbody>
</table>
