<!-- my-loader.component.html -->
<div class="progress-loader" [hidden]="!loading">
  <div class="loading-spinner">
    <!-- <img src="../../../assets/resources/img/Heart-1s-200px.gif" alt="">
    <span class="loading-message">Please wait...</span> -->

    <div id="Content">
      <div id="spinner_1" class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_2" class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_3" class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_4" class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_5" class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_6" class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_7" class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <div id="spinner_8" class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
