<!--<div class="container">
  <h1>Update Ngo</h1>

  <a href="#" routerLink="/ngo/ngoTable/home" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="title">Title:</label>
      <input
        formControlName="title"
        id="title"
        type="text"
        [(ngModel)]="ngo.title"
        class="form-control">
      <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
        <div *ngIf="f.title.errors.required">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea
        formControlName="body"
        id="body"
        type="text"
        [(ngModel)]="ngo.body"
        class="form-control">
            </textarea>
      <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
        <div *ngIf="f.body.errors.required">Body is required.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
</div>-->

<div class="wrapper">
  <div class="form_wrapper" style="width: 75%">
    <div class="form_container">
      <div class="title_container">
        <h2>Update Ngo</h2>
      </div>
      <div class="row clearfix" style="font-weight: bold">
        <div style="width: 100%">
          <form [formGroup]="UpdateNgo" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" formControlName="name" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name"/>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
                <input type="text" formControlName="governorate" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.governorate.errors }" placeholder="Governorate"/>
                <div *ngIf="submitted && f.governorate.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.governorate.errors.required">Governorate is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
                <input type="text" formControlName="city" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.city.errors }" placeholder="City"/>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.city.errors.required">City is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
                <input type="text" formControlName="address" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.address.errors }" placeholder="Address"/>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-mobile"></i></span>
                <input type="text" formControlName="mobileNumber" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" placeholder="Mobile Number"/>
                <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" formControlName="email" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="text" formControlName="webSite" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.webSite.errors }" placeholder="WebSite"/>
                <div *ngIf="submitted && f.webSite.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.webSite.errors.required">Web Site is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input_field"><span><i aria-hidden="true" class="fa fa-file-text"></i></span>
                <input type="text" formControlName="description" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.description.errors }" placeholder="Description"/>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback" style="margin-left: 5%">
                  <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
              </div>
            </div>

            <input class="button" type="submit" value="Update"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


